.editDetails {
  height: calc(100vh - 150px);
}

.editDetails__new {
  position: relative;
  display: grid;
  grid-template-columns: 81% 19%;
  height: 100%;
}
.editDetails__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  background-color: #f1f1f4;
}

.configurationEdit {
  height: 100vh;
}

.editDetails__choice {
  background-color: #fcfcfd;
  border-left: 1px solid #c7c7d1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editDetails__choice__popup {
  color: #9d9daf;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-family: "inter";
  align-items: center;
  text-transform: uppercase;
  justify-content: start;
  margin-left: 10%;
}
.editDetails__choice__items {
  margin-left: 10%;
}

.editDetails__choice__button {
  background-color: #1e1ed2;
  padding-block: 19px;
  border: none;
  color: #fcfcfd;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  font-family: "inter";
}
.editDetails__choice__button:hover {
  cursor: pointer;
}
.editDetails__choice__popup__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.editDetails__choice__popup__price {
  margin-right: 10%;
  font-size: 24px;
  font-family: "inter";
  color: #2e2e38;
}

.editDetails__choice__items {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.editDetails__choice__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.editDetails__choice__wrapper :hover {
  cursor: pointer;
}

.editDetails__choice__wrapper__title {
  font-size: 16px;
  font-family: "inter";
  color: #2e2e38;
}

.editDetails__choice__wrapper__sub {
  font-size: 11px;
  color: #73738c;
  font-family: "inter";
  text-transform: uppercase;
}

.editDetails__choice__second {
  border-left: 1px solid #c7c7d1;
  background-color: #fcfcfd;
  position: relative;
}

.options__edit__right {
  font-family: "inter";
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
  font-size: 16px;
}

.options__edit__right__block {
  display: flex;
  flex-direction: row;
  gap: 3px;
  color: #2e2e38;
}

.options__edit__right__arrowLeft {
  border: none;
  background-color: #fcfcfd;
  font-size: 0px;
}
.options__edit__right__arrowLeft:hover {
  cursor: pointer;
}
.options__edit__right__second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfd;
}
.options__edit__right__second__title {
  font-size: 24px;
  font-family: "inter";
  color: #2e2e38;
  margin-left: 8%;
  overflow: hidden;
}
.options__edit__right__second__title__x {
  margin-right: 8%;
  height: fit-content;
  width: fit-content;
  font-size: 14px;
}
.options__edit__right__second__title__x:hover {
  cursor: pointer;
}

.editDetails__choice__second__wrapper {
  margin-top: 20%;
  margin-inline: 8%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.editDetails__choice__second__wrapper__color {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: #2e2e38;
  font-size: 16px;
  font-family: "inter";
}

.editDetails__choice__second__wrapper__chosen {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #1ed286;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  text-align: center;
}
.editDetails__choice__second__wrapper:hover {
  cursor: pointer;
}

.editDetails__choice__second__wrapper__color__mark {
  position: relative;
}

.editDetails__choice__second__wrapper__chosen__done {
  width: fit-content;
  height: fit-content;
  color: whitesmoke;
}

.editDetails__choice__second__wrapper__color__title__wrapper__price {
  font-size: 14px;
  font-family: "inter";
  color: #73738c;
}

.doneButton {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.doneButton__button {
  width: 100%;
  min-height: 68px;
  border: none;
  background-color: #1e1ed2;
}
