.pagination {
	gap: 5px;
}

.pagination__button {
	border: none;
}

.pagination__currentPage {
	font-family: 'Inter', sans-serif;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: left;
}
.pagination__pagesNumber,
.pagination__separator {
	font-family: 'Inter', sans-serif;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: left;
}

.pagination__button:disabled {
	color: #2e2e38;
}
.pagination .pagination__button:hover {
	cursor: pointer;
}
@media only screen and (max-height: 770px) {
	.pagination {
		margin-bottom: 15px;
	}
}

@media only screen and (max-height: 315px) {
	.pagination {
		margin-top: 0px;
	}
}
