.login {
  display: flex;
  flex-direction: column;
}
.login:hover {
  cursor: default;
}

.login__inputBox {
  flex-direction: column;
  align-items: center;
  padding-inline: 35px;
  padding-block: 100px;
  display: flex;
}

.login__label {
  position: absolute;
  left: 50%;
  margin-left: -161.68px;
  top: 10%;
  font-size: 60px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #2e2e38;
}

.login__inputBox input {
  font-size: 20px;
  padding: 7.5px 15px;
  border-radius: 5px;
  border-width: 0.5px;
}

.login__email,
.login__password {
  margin-bottom: 10px;
  width: 325px;
}
.login__menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
  gap: 10px;
}

.login__menu__register,
.login__menu__passwordReset {
  font-family: arial;
  font-weight: 700;
  font-style: oblique;
}

.login__rememberMe {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 10px;
  margin-top: 6px;
  align-items: center;
}

.login__rememberMe__checkbox {
  position: relative;
  border-radius: 3px;
  height: 17px;
  width: 37px;
  transition: ease 1.5s;
}

.login__rememberMe__checkbox:hover {
  cursor: pointer;
}

.login__rememberMe_checkbox__slider {
  position: absolute;
  left: "0";
  border-radius: 3px;
  height: inherit;
  width: 16px;
  transition: ease 1s;
}

.login__rememberMe {
  font-family: arial;
  font-weight: 700;
  margin-bottom: 2.5px;
}

.login__buttons {
  display: flex;
  margin-top: 10px;
  gap: 15px;
}
.login__buttons__loginButton {
  padding: 6px 14px;
  font-size: 16px;
  border-radius: 6px;
  border-width: 0.5px;
}
.login__buttons__googleButton:hover {
  cursor: pointer;
}
.login__buttons__loginButton:hover {
  cursor: pointer;
}

.login__buttons__googleButton {
  background-color: #4285f4;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 700;
  padding: 6px 14px;
  border-width: 0.5px;
  border-radius: 6px;
}

.login__background {
  position: absolute;
  background-color: #f1f1f4;
  height: 50vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.login__menu__passwordReset a,
.login__menu__register a {
  color: blue;
  transition: 0.5s;
}

.login__menu__register a:hover,
.login__menu__passwordReset a:hover {
  transition: 0.5s;
  color: rgb(77, 170, 227);
}

.login__inputBox__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  position: absolute;
  left: 50%;
  top: 26%;
  margin-left: -358.7px;
  border-radius: 10px;
  box-shadow: 5px 10px 50px #666666;
}

.login__test {
  background-color: #2e2e38;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: whitesmoke;
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-height: 412px) {
  .login {
    margin-top: 0px;
  }
  .login__label {
    margin-top: 5px;
  }
  .login__inputBox {
    margin-top: 1px;
  }
}
@media only screen and (max-width: 480px) {
  .login__label {
    font-size: 3.5em;
    margin-left: -150.9px;
  }
}
@media only screen and (max-width: 390px) {
  .login__email,
  .login__password {
    width: 275px;
  }
}

@media only screen and (max-width: 350px) {
  .login__email,
  .login__password {
    width: 235px;
  }
  .login__label {
    font-size: 3em;
    margin-left: -129.345px;
  }
}
