.options {
	height: 80px;
	border-bottom: 1.1px solid #c7c7d1;
}
* {
	box-sizing: border-box;
}
.options__short {
	grid-template-columns: 75.277% 24.72%;
	height: 80px;
}
.options__edit__right__second {
	border-left: 1px solid #c7c7d1;
}

.options__left__second {
	height: 80px;
	gap: 12px;
	padding-left: 3.69%;
	border-bottom: 1.1px solid #c7c7d1;
}
.options__navigateBack {
	width: 8.5px;
	height: 16px;
	mask: url('images/navigateBack.svg') no-repeat center;
	transition: 0.25s ease;
}
.options__navigateBack__wrapper {
	padding-inline: 3.75px;
}
.options__navigateBack__wrapper:hover {
	cursor: pointer;
}
.options__navigateBack__wrapper:hover .options__navigateBack {
	background-color: rgb(144, 144, 144);
	cursor: pointer;
}

.options__left {
	margin-left: 2.777%;
	height: 32px;
	gap: 12px;
}
.options__right {
	margin-right: 20px;
	gap: 8px;
}

.options__left__year {
	margin-top: 7px;
	font-family: 'Martel Sans', sans-serif;
	letter-spacing: -1px;
}

.options__left__carModel {
	margin-top: 7px;
	font-family: 'Martel Sans', sans-serif;
	letter-spacing: -0.5px;
}

.options__right__edit,
.options__right__delete {
	border: none;
	background-color: #fcfcfd;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	font-family: 'inter';
}

.options__right__edit {
	transition: ease 0.25s;
}
.options__right__edit:hover {
	cursor: pointer;
	color: rgb(116, 158, 255);
	transition: ease 0.25s;
}
.options__right__delete:hover {
	cursor: pointer;
	color: red;
	transition: ease 0.25s;
}

.options__right__delete {
	transition: ease 0.25s;
}

.configurationView__img {
	width: 100%;
	object-fit: contain;
	margin-top: 40px;
	margin-bottom: 40px;
}

.configurationView {
	text-align: center;
	min-height: calc(100vh - 160px);
	width: 100%;
	overflow: hidden;
	font-family: 'inter';
}

.configurationDetails__header {
	margin-top: 92px;
	width: 78.33%;
	margin-inline: 10.834%;
	border-bottom: solid 1px #9d9daf;
	padding-bottom: 36px;
}

.configurationDetails__header__info {
	text-align: start;
	letter-spacing: -2px;
}

.configurationDetails__header__info__carModel {
	font-family: 'Optician Sans', sans-serif;
}
.configurationDetails__header__info__year {
	font-family: 'Optician Sans', sans-serif;
}

.configurationDetails__header__price {
	align-self: flex-end;
	text-align: end;
}
.configurationDetails__header__price__popup {
	text-transform: uppercase;
	justify-content: flex-end;
}
.configurationDetails__header__amount {
	line-height: 32px;
}

.configurationDetails__header__price__info {
	font-variation-settings: 'FILL' 1, 'wght' 400;
}
.configurationDetails__header__price__info:hover {
	cursor: pointer;
}
.configurationDetails__details {
	grid-template-columns: 41.13% 58.87%;
	text-align: start;
	margin-inline: 10.834%;
	margin-top: 60px;
}

.configurationDetails__details__exterior__title {
	border-bottom: solid 1px #9d9daf;
	padding-bottom: 20px;
}

.configurationDetails__details__exterior__color {
	gap: 20px;
	margin-top: 20px;
}
.configurationDetails__details__exterior__wheels {
	gap: 20px;
	margin-top: 40px;
}
.configurationDetails__details__exterior__seats {
	gap: 20px;
	margin-top: 20px;
}

.configurationDetails__details__interior {
	margin-top: 60px;
}

.configurationDetails__details__text {
	width: 100%;
}

.configurationDetails__header__price__info__popup {
	display: none;
}

.configurationDetails__header__price__wrapper:hover .configurationDetails__header__price__info__popup {
	display: block;
	z-index: 2;
	padding: 20px;
	margin-left: -78.46px;
	text-transform: none;
	box-shadow: 1px 1px 3.5px #888888;
}
.configurationDetails__details__total {
	font-weight: 700;
	margin-top: 70px;
	margin-bottom: 80px;
}

@media only screen and (max-width: 960px) {
	.configurationView__img {
		object-fit: contain;
		margin-top: 0;
	}
}
@media only screen and (max-width: 800px) {
	.configurationView__img {
		max-height: 250px;
	}
}
@media only screen and (max-width: 800px) {
	.configurationView__img {
		max-height: 250px;
	}
}
@media only screen and (max-width: 800px) {
	.configurationDetails__header {
		border-bottom: solid 1.5px #595967;
	}
	.configurationDetails__details {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
	.configurationDetails__details__title {
		width: fit-content;
	}
	.options__left__carModel {
		font-size: 24px;
	}
	.options__left__year {
		font-size: 24px;
	}
}

@media only screen and (max-width: 500px) {
	.configurationView__img {
		max-height: 200px;
	}
	.options__left__carModel {
		font-size: 20px;
	}
	.options__left__year {
		font-size: 20px;
	}
}
@media only screen and (max-width: 410px) {
	.configurationDetails__header__info__carModel {
		font-size: 40px;
	}
	.options__right {
		flex-direction: column;
		gap: 0px;
		align-items: flex-end;
		justify-content: center;
	}
	.configurationDetails__header__info__year {
		font-size: 20px;
	}
	.options__left__carModel {
		font-size: 18px;
	}
	.options__left__year {
		font-size: 18px;
	}
	.options__right__edit {
		font-size: 14px;
	}
	.options__right__delete {
		font-size: 14px;
	}

	.configurationDetails__details__total {
		margin-bottom: 70px;
	}
}

@media only screen and (max-width: 360px) {
	.configurationDetails__details__title {
		font-size: 20px;
	}
	.options__right {
		margin-right: 10px;
	}
	.options__right__delete {
		font-size: 15px;
	}
	.options__left {
		gap: 5px;
		text-align: left;
	}
	.configurationDetails__header__info__carModel {
		font-size: 32px;
	}
}
@media only screen and (max-width: 340px) {
	.options__left__year {
		font-size: 14px;
	}
	.options__left__carModel {
		font-size: 14px;
	}
	.options__right__edit {
		font-size: 12px;
	}
	.options__right__delete {
		font-size: 12px;
	}
}
@media only screen and (max-width: 310px) {
	.configurationDetails__header__amount {
		font-size: 20px;
	}
}

@media only screen and (max-width: 290px) {
}
@media only screen and (max-height: 300px) {
	.pagination {
		margin-top: 0px;
	}
}

@media only screen and (min-height: 1300px) {
	.summary__wrapper {
		position: absolute;
		width: 100%;
		bottom: 0%;
	}
}
