.register__email,
.register__password,
.register__name,
.register__confirmPassword {
	margin-bottom: 10px;
	width: 100%;
	border-inline: none;
	border-top: none;
}

.register__email:hover::placeholder,
.register__name:hover::placeholder,
.register__password:hover::placeholder,
.register__confirmPassword:hover::placeholder {
	color: black;
}

.register__email:hover,
.register__name:hover,
.register__password:hover,
.register__confirmPassword:hover {
	border-color: black;
}
.register__email:focus,
.register__name:focus,
.register__password:focus,
.register__confirmPassword:focus {
	outline: none;
	border-color: black;
}
.register__email:focus::placeholder,
.register__name:focus::placeholder,
.register__password:focus::placeholder,
.register__confirmPassword:focus::placeholder {
	color: black;
}
.register__label {
	width: 100%;
	text-align: center;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5%;
}

@media only screen and (max-width: 460px) {
	.register__label {
		font-size: 55px;
	}
}
@media only screen and (max-width: 410px) {
	.register__label {
		font-size: 50px;
	}
}
@media only screen and (max-width: 370px) {
	.register__label {
		font-size: 45px;
	}
}
@media only screen and (max-width: 330px) {
	.register__label {
		font-size: 40px;
	}
}
@media only screen and (max-width: 290px) {
	.register__label {
		font-size: 35px;
	}
}
