.col-dark-gray {
	color: #2e2e38;
}

.col-light-gray {
	color: #73738c;
}
.col-pure-white {
	color: #fcfcfd;
}
.col-white {
	color: #f1f1f4;
}
.col-ran-gray {
	color: #505062;
}
.col-dim-purple {
	color: #9898f0;
}
.col-red {
	color: #d2341e;
}
.col-9d9daf {
	color: #9d9daf;
}
.col-blue {
	color: #1e1ed2;
}
.col-light-blue {
	color: #3f3fe4;
}
.col-light-red {
	color: #ffe5e5;
}
.col-c7c7d1 {
	color: #c7c7d1;
}

.bg-col-lightcoral {
	background-color: lightcoral;
}
.bg-col-gray {
	background-color: #c7c7d1;
}
.bg-col-blue {
	background-color: #1e1ed2;
}
.bg-col-white {
	background-color: #fcfcfd;
}
.bg-col-light-gray {
	background-color: #f1f1f4;
}
.bg-col-dark-gray {
	background-color: #2e2e38;
}

.bg-col-pure-white {
	background-color: #ffffff;
}
.bg-col-light-green {
	background-color: #1ed286;
}
