.homepage {
	min-height: 100vh;
	background-color: #f1f1f4;
	position: relative;
	overflow: hidden;
}
.homepage__configurator {
	display: flex;
	flex-direction: column;
	margin-top: 178px;
	width: 44.513%;
	margin-inline: 27.78%;
	align-items: center;
}
.homepage__configurator__carImage {
	width: 100%;
	height: 200px;
	object-fit: cover;
	opacity: 0.2;
}

.homepage__configurator__emptyMessage {
	width: 440px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 28px;
	margin-top: 2.344%;
	text-align: center;
	color: #73738c;
}

.homepage__configurator__emptyMessage a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	color: #1e1ed2;
}

.homepage__configurator__emptyMessage :hover {
	color: #2525ff;
}
.savedConfigs__wrapper {
	position: relative;
	align-items: center;
	display: grid;
	width: 78.34%;
	margin-left: 10.83%;
	height: 180px;
	grid-template-columns: 44.326% 0.1% 45.67%;
	background-color: #fcfcfd;
	margin-bottom: 28px;
}
.savedConfigs__wrapper:last-child {
	margin-bottom: 0px;
}

.savedConfigs__createdAt {
	display: flex;
	gap: 5px;
	margin-top: 32px;
	font-family: 'Inter';
	font-size: 12px;
	line-height: 16px;
	color: #9d9daf;
}
.savedConfigs__splitter {
	height: 66.667%;
	background-color: #c7c7d1;
	width: 1px;
}

.savedConfigs__button {
	position: absolute;
	top: 16.67%;
	right: 2.305%;
	color: #9898f0;
}

.savedConfigs__info {
	margin-left: 4.46%;
	display: flex;
	flex-direction: column;
}
.savedConfigs__info__wrapper {
	text-transform: uppercase;
}

.savedConfigs__info__wrapper p:nth-child(1),
.savedConfigs__info__wrapper p:nth-child(3) {
	font-family: 'Inter';
	font-size: 11px;
	line-height: 16px;
	color: #73738c;
	letter-spacing: 2px;
}
.savedConfigs__info__wrapper p:nth-child(2) {
	font-family: 'Optician Sans';
	font-size: 36px;
	line-height: 32px;
	letter-spacing: -2px;
	color: #1e1ed2;
}
.savedConfigs__info__wrapper p:nth-child(3) {
	margin-top: 8px;
	color: #505062;
}
.savedConfigs__button__vert:hover {
	cursor: pointer;
}
.savedConfigs__button__vert {
	border: none;
	background-color: #fcfcfd;
}
.savedConfigs__popupMenu {
	position: absolute;
	top: 24px;
	right: 0;
	flex-direction: column;
	width: 200px;
	height: 104px;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.06);
	background-color: #ffffff;
}
.homepage__savedConfigs {
	margin-bottom: 5%;
}
.homepage__savedConfigs__title {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 78.34%;
	height: 32px;
	margin-left: 10.83%;
	margin-top: 82px;
	margin-bottom: 54px;
	font-family: 'Inter';
	font-size: 24px;
	line-height: 32px;
	color: #2e2e38;
}

.savedConfigs__editButton,
.savedConfigs__deleteButton {
	margin-left: 12%;
	margin-block: 16px;
	line-height: 20px;
	font-size: 14px;
	background-color: #ffffff;
	border: none;
	width: fit-content;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.savedConfigs__editButton {
	color: #3f3fe4;
}
.savedConfigs__deleteButton {
	color: #d2341e;
}

.savedConfigs__editButton:hover,
.savedConfigs__deleteButton:hover {
	cursor: pointer;
}

.savedConfigs__button__splitter {
	border: 1px solid #f1f1f4;
}

.homepage__deleteMessage {
	z-index: 2;
	width: 200px;
	display: flex;
	position: absolute;
	transition: ease 1.5s;
	background-color: lightcoral;
	border-radius: 20px;
}
.homepage__deleteMessage p {
	width: 100%;
	padding-block: 7px;
	padding-inline: 2.5px;
	color: #ffe5e5;
	text-align: left;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.homepage__configureACarButton {
	font-size: 14px;
	font-weight: 700;
	font-family: 'inter', sans-serif;
	text-align: left;
	line-height: 20px;
	border: none;
	background-color: #1e1ed2;
	padding: 12px 20px;
	color: #f1f1f4;
}

@media only screen and (min-width: 1441px) {
	.homepage__configurator__carImage {
		object-fit: contain;
	}
}
@media only screen and (max-width: 950px) {
	.homepage__configurator__carImage {
		object-fit: cover;
	}
}
@media only screen and (max-width: 760px) {
	.homepage__configurator__carImage {
		width: 641px;
	}
}
@media only screen and (max-width: 650px) {
	.homepage__configureACarButton {
		display: none;
	}
}

@media only screen and (max-width: 470px) {
	.homepage__configurator__carImage {
		zoom: 80%;
	}
	.homepage__configurator__emptyMessage {
		width: 350px;
		font-size: 15px;
	}
	.homepage__configurator__emptyMessage :link {
		font-size: 15px;
	}
	.savedConfigs__info__wrapper p:nth-child(2) {
		font-size: 25px;
	}
	.homepage__savedConfigs__title {
		font-size: 19px;
	}
	.savedConfigs__createdAt {
		font-size: 8px;
	}
}
@media only screen and (max-width: 400px) {
	.savedConfigs__wrapper {
		width: 80%;
		margin-left: 10%;
	}
}

@media only screen and (max-width: 340px) {
	.homepage__configurator__carImage {
		zoom: 60%;
	}
	.homepage__configurator__emptyMessage {
		font-size: 12px;
		width: 250px;
	}
	.homepage__configurator__emptyMessage :link {
		font-size: 12px;
	}
}

@media only screen and (max-width: 330px) {
	.savedConfigs__createdAt {
		font-size: 7px;
	}
	.homepage__savedConfigs__title {
		font-size: 15px;
	}
}

@media only screen and (max-width: 290px) {
	.savedConfigs__info__wrapper p:nth-child(2) {
		font-size: 18px;
	}
	.savedConfigs__info__wrapper p:nth-child(1) {
		font-size: 10px;
	}
	.savedConfigs__info__wrapper p:nth-child(3) {
		font-size: 10px;
	}
	.savedConfigs__wrapper {
		height: 130px;
		align-content: center;
	}
	.savedConfigs__createdAt {
		font-size: 6px;
	}
	.homepage__configurator__carImage {
		zoom: 60%;
	}
}
@media only screen and (max-height: 800px) {
	.homepage__configurator {
		margin-top: 100px;
	}
}

@media only screen and (max-height: 680px) {
	.homepage__configurator {
		margin-bottom: 50px;
		margin-top: 50px;
	}
}
