.homepage {
	min-height: 100vh;
	overflow: hidden;
}
.homepage__configurator {
	margin-top: 178px;
	width: 44.513%;
	margin-inline: 27.78%;
}
.homepage__configurator__carImage {
	height: 200px;
	object-fit: cover;
	opacity: 0.2;
}

.homepage__configurator__emptyMessage {
	width: 440px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 28px;
	margin-top: 2.344%;
	text-align: center;
}

.homepage__configurator__emptyMessage a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	line-height: 28px;
}

.homepage__configurator__emptyMessage :hover {
	color: #2525ff;
}
.savedConfigs__wrapper {
	width: 78.34%;
	margin-left: 10.83%;
	height: 180px;
	grid-template-columns: 44.326% 0.1% 45.67%;
	margin-bottom: 28px;
}
.savedConfigs__wrapper:last-child {
	margin-bottom: 0px;
}

.savedConfigs__createdAt {
	gap: 5px;
	margin-top: 32px;
	font-family: 'Inter';
	line-height: 16px;
}
.savedConfigs__splitter {
	height: 66.667%;
	width: 1px;
}

.savedConfigs__button {
	top: 16.67%;
	right: 1.773%;
}

.savedConfigs__info {
	margin-left: 4.46%;
}
.savedConfigs__info__wrapper {
	text-transform: uppercase;
}

.savedConfigs__info__wrapper p:nth-child(1),
.savedConfigs__info__wrapper p:nth-child(3) {
	font-family: 'Inter';
	font-size: 11px;
	line-height: 16px;
	color: #73738c;
	letter-spacing: 2px;
}
.savedConfigs__info__wrapper p:nth-child(2) {
	font-family: 'Optician Sans';
	font-size: 36px;
	line-height: 32px;
	letter-spacing: -2px;
	color: #1e1ed2;
}
.savedConfigs__info__wrapper p:nth-child(3) {
	margin-top: 8px;
	color: #505062;
}
.savedConfigs__button__vert:hover {
	cursor: pointer;
}
.savedConfigs__button__vert {
	padding-inline: 8px;
	width: 4px;
	height: 16px;
	mask: url('images/vert_icon.svg') no-repeat center;
	transition: 0.25s ease;
}
.savedConfigs__button__vert:hover {
	background-color: #525284;
}
.savedConfigs__popupMenu {
	top: 24px;
	right: 0;
	flex-direction: column;
	width: 200px;
	height: 104px;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.06);
}
.homepage__savedConfigs {
	margin-bottom: 5%;
}
.homepage__savedConfigs__title {
	max-width: 78.34%;
	height: 32px;
	margin-left: 10.83%;
	margin-top: 82px;
	margin-bottom: 54px;
	font-family: 'Inter';
	line-height: 32px;
}

.savedConfigs__editButton,
.savedConfigs__deleteButton {
	margin-left: 12%;
	margin-block: 16px;
	line-height: 20px;
	border: none;
	width: fit-content;
	transition: 0.25s ease;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.savedConfigs__editButton:hover,
.savedConfigs__deleteButton:hover {
	cursor: pointer;
}
.savedConfigs__editButton:hover {
	color: rgb(116, 158, 255);
	transition: 0.25s ease;
}
.savedConfigs__deleteButton:hover {
	color: red;
	transition: 0.25s ease;
}
.savedConfigs__button__splitter {
	border: 1px solid #f1f1f4;
}

.homepage__deleteMessage {
	z-index: 2;
	width: 200px;
	transition: ease 1.5s;
	border-radius: 20px;
}
.homepage__deleteMessage p {
	width: 100%;
	padding-block: 7px;
	padding-inline: 2.5px;
	text-align: left;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.homepage__configureACarButton {
	font-weight: 700;
	font-family: 'inter', sans-serif;
	text-align: left;
	line-height: 20px;
	border: none;
	padding: 12px 20px;
	transition: 0.5s ease;
}
.homepage__configureACarButton:hover {
	cursor: pointer;
	background-color: #2d2dff;
	transition: 0.5s ease;
}

@media only screen and (min-width: 1441px) {
	.homepage__configurator__carImage {
		object-fit: contain;
	}
}
@media only screen and (max-width: 950px) {
	.homepage__configurator__carImage {
		object-fit: cover;
	}
}
@media only screen and (max-width: 760px) {
	.homepage__configurator__carImage {
		width: 641px;
	}
}
@media only screen and (max-width: 650px) {
	.homepage__configureACarButton {
		display: none;
	}
}

@media only screen and (max-width: 470px) {
	.homepage__configurator__carImage {
		zoom: 80%;
	}
	.homepage__configurator__emptyMessage {
		width: 350px;
		font-size: 15px;
	}
	.homepage__configurator__emptyMessage :link {
		font-size: 15px;
	}
	.savedConfigs__info__wrapper p:nth-child(2) {
		font-size: 25px;
	}
	.homepage__savedConfigs__title {
		font-size: 19px;
	}
	.savedConfigs__createdAt {
		font-size: 8px;
	}
}
@media only screen and (max-width: 400px) {
	.savedConfigs__wrapper {
		width: 80%;
		margin-left: 10%;
	}
}

@media only screen and (max-width: 340px) {
	.homepage__configurator__carImage {
		zoom: 60%;
	}
	.homepage__configurator__emptyMessage {
		font-size: 12px;
		width: 250px;
	}
	.homepage__configurator__emptyMessage :link {
		font-size: 12px;
	}
}

@media only screen and (max-width: 330px) {
	.savedConfigs__createdAt.fs-12 {
		font-size: 7px;
	}
	.homepage__savedConfigs__title {
		font-size: 15px;
	}
}

@media only screen and (max-width: 290px) {
	.savedConfigs__info__wrapper p:nth-child(2) {
		line-height: normal;
		font-size: 20px;
	}
	.savedConfigs__info__wrapper p:nth-child(1) {
		line-height: normal;
		font-size: 10px;
	}
	.savedConfigs__info__wrapper p:nth-child(3) {
		line-height: normal;
		font-size: 10px;
	}
	.savedConfigs__wrapper {
		height: 140px;
		align-content: center;
	}
	.savedConfigs__createdAt.fs-12 {
		font-size: 9px;
	}
	.homepage__configurator__carImage {
		zoom: 60%;
	}
}
@media only screen and (max-height: 800px) {
	.homepage__configurator {
		margin-top: 100px;
	}
}

@media only screen and (max-height: 680px) {
	.homepage__configurator {
		margin-bottom: 50px;
		margin-top: 50px;
	}
}
