.summary__popup {
	text-transform: uppercase;
}

.summary__left {
	border-top: 1px solid #c7c7d1;
}

.summary__left__infos {
	gap: 56px;
	margin-right: 2.952%;
}
.summary__wrapper {
	height: 80px;
	grid-template-columns: 75.28% 24.72%;
}

.summary__button {
	border: none;
	font-weight: 700;
	transition: 0.25s ease;
}

.summary__button:hover {
	cursor: pointer;
	transition: 0.25s ease;
	background-color: #2d2dff;
}

.summary__title :nth-child(1) {
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
	margin-top: 48px;
}
.summary__title :nth-child(2) {
	font-size: 20px;
	line-height: 28px;
	margin-top: 16px;
}
.summary__title__button {
	border: none;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	line-height: 20px;
	transition: ease 0.5s;
}
.options__left__summary {
	gap: 8px;
	margin-left: 3.69%;
}

.summary__title__button:hover {
	cursor: pointer;
	color: rgb(98, 158, 255);
	transition: ease 0.25s;
}

@media only screen and (max-width: 660px) {
	.summary__left__infos {
		margin-right: 3%;
		gap: 10px;
	}
}
@media only screen and (max-width: 500px) {
	.summary__title {
		margin-inline: 20px;
	}
}
@media only screen and (max-width: 580px) {
	.summary__left__infos {
		flex-direction: column;
	}
}
@media only screen and (max-width: 440px) {
	.summary__left__infos {
		margin-right: 2%;
	}
	.summary__wrapper {
		grid-template-columns: none;
		grid-template-rows: auto;
		height: fit-content;
	}
	.summary__left {
		height: fit-content;
	}
	.options__left__summary {
		height: fit-content;
	}
	.summary__left__infos {
		height: fit-content;
	}
	.summary__button {
		min-height: 65px;
	}

	.options__left__summary {
		flex-direction: column-reverse;
		gap: 0px;
	}
}
@media only screen and (max-width: 340px) {
	.configurationDetails__header__amount {
		font-size: 17px;
	}
}
