@import "./modules/components/navbar/navbar.css";
@import "./modules/components/homepage/homepage.css";
@import "./modules/components/login/login.css";
@import "./modules/components/register/register.css";

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
